lhv_roheline {
  background-color: orange;
}

.container-fluid {
  padding-left: 15px;
  padding-top: 15px;
}

#upper_navbar {
  padding-top: 20px;
  background-color: white;
}

#upper_nav_LHV_logo {
  float: left;
}