
@media (max-width: 575px) and (min-width: 320px) {
  .container-fluid {
    width: 100%
  }
  .container {
    width: 400px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin: 5px;
  }
  .postitusedFirst {
    background-color: rgb(249, 248, 247);
    margin-top: 30px;
    padding-right: 0px;
    margin-bottom: 30px;
  }
  .postitusedSecond {
    margin: 0px !important;
    margin-left: 00px !important;
    margin-right: 0px !important;
    padding-top: 30px;
  }
  .blogiPic {
    max-width: 200px;
    max-height: 200px;
  }
  .blogiText {
    margin-right: 5px !important;
    scale: 80% !important;
  }
  .blogiTextR {
    /*kui tekst on pildist paremal (vastasel juhul kasuta blogiText)*/
  }
  .blogiPicR {
    /*kui pilt on tekstist paremal*/
  }
  .blogiPicL {
    /*kui pilt on tekstist vasakul*/
    margin-right: 5px !important;
  }
  .blogiPicSub {
    height: 150px; width: 150px;
  }
  .justify-content-between {
    justify-content: normal !important;
  }
  .centerAlign {
    display: block;
    align-items: normal;
    justify-content: center;
  }
  #aarisTop {
    padding: 0px !important;
  }
  #aarisBottom {
    padding: 0px !important;
  }
  #lhv_roheline_display {
    display:block;
    align-items: normal;
    margin-left: 20px !important;
    margin-right: 50px !important;
  }
  #roheline-picture {
    height: 200px;
  }
  #postitused {
    margin-left: 0px;
    padding-right: 0px;
  }
  footer > .col {
    margin-left: 0px;
    margin-right: 60px;
    margin-bottom: 20px;
  }
  #roheline_text {
    margin-right: 10px !important;
  }

  .carousel-text {
    visibility: hidden;
  }
  
  .under-carousel-text {
    visibility: hidden;
  }
  
  .kasko-carousel-text {
    visibility: hidden;
  }
  
  .kasko-under-carousel-text {
    visibility: hidden;
  }

}

.container {
  max-width: 1000px;
}

.container-fluid {
  padding-left: 15px;
  padding-top: 15px;
}

#upper_navbar {
  padding-top: 20px;
  background-color: white;
}

#upper_nav_LHV_logo {
  float: left;
}

#footerSection {
  background-color: rgb(248, 248, 248);
}
#lhv_roheline {
  background-color: rgb(248, 240, 233);
}

#lhv_roheline_display {
  display:flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
#roheline_text {
  margin-top: 40px; margin-bottom: 0px; margin-right: 100px;
}
#aarisTop {
  padding: 30px
}
#roheline-picture {
  display: block;
}
#aarisBottom {
  padding: 30px;
}

.emptyDiv {
  background-color: rgb(249, 248, 247);
  margin-top: 30px;
  margin-bottom: 30px;
}
.postitusedFirst {
  background-color: rgb(249, 248, 247);
  margin-top: 30px;
  margin-bottom: 30px;
}
.postitusedSecond {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 30px;
  display: flex;
}
.blogiText {
  margin-right: 50px;
}
.blogiTextR {
  /*kui tekst on pildist paremal (vastasel juhul kasuta blogiText)*/
}
.blogiPicR {
  /*kui pilt on tekstist paremal*/
}
.blogiPicL {
  /*kui pilt on tekstist vasakul*/
  margin-right: 50px;
}
.blogiPicSub {
  max-height: 350px; max-width: 350px;
}

.ninetyPercentText {
  font-size: 90%;
}

.boldEightyPercentText {
  font-size: 80%;
  font-weight: bold;
}

#usernameInput {
  margin-left: 15px;
  line-height: 10px;
  width: 180px;
}

#enterButton {
  margin-left: 10px;
  margin-top: -8px;
  line-height: 21px;
}

li.inactive_class a {
  color: #6e6e6e !important;
}

.centerAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

#footerInfo {
  margin-top: 20px; color: #B2B2B2; font-family: arial; font-size: 13px;
}

.justifyText {
  text-align: justify;
}

/*.container {
  max-width: 1000px;
}*/

.blog {
  background-color: rgb(248,248,248);
  margin: 20px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.uudis {
  margin: 20px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.podcast {
  margin: 20px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.blogi_sisu {
  display: flex;
  color: black;
}

.blogiLogo {
  height: 24px;
  width: 24px;
  margin-right: 10px;

}

.blogisuunavtext {
  max-width: 254px !important;
}

.blogDate {
  padding-left: 34px;
  font-size: 14px;
  color: rgb(148,144,150);
}

.blogiSisuWrap {
  height: 135px;
}

.centeringStyle {
  display: flex;
  align-items: center;
  justify-content: center;

}

.background-image {
  position: relative;
  display: block;
}

.foreground-image {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -405px;
  margin-left: -1005px;
}

.carousel-indicators li {
  background-color: #ccc !important;
}

.carousel-indicators .active {
  background-color: rgb(90, 90, 90) !important;
  position: relative;
  opacity: 0.7;
}

.carousel-button {
  width: 50px;
  opacity: 0.7;
  height: 10px;
  margin-right: 10px;
}

.tenPxMarginRight {
  margin-right: 10px;
}

#navStyling {
  background-color: #F4F4F4;
  display: block;
}

.signInPadding {
  padding-left: 410px;
}

.fourHundredPxPaddingLeft {
  padding-left: 400px;
}

.carousel-inner {
  height: 500px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  height: -500px;
  margin-top: -150px;
  width: 100%;
}

.carousel-text {
  position: absolute;
  margin-top: -360px;
  margin-left: 100px;
  text-decoration: rgb(255, 255, 255);
  scale: 1.5;
}

.under-carousel-text {
  margin-top: -240px;
  margin-left: -8px;
  text-decoration: rgb(255, 255, 255);
  scale: 0.8;
}

.kasko-carousel-text {
  position: absolute;
  margin-top: -420px;
  margin-left: 10px;
  text-decoration: rgb(255, 255, 255);
  scale: 1.3;
}

.kasko-under-carousel-text {
  margin-top: -270px;
  margin-left: -115px;
  text-decoration: rgb(255, 255, 255);
  scale: 0.8;
}

.row_carousel {
  margin-left: -15px;
  margin-right: -15px;
  white-space: nowrap;
}

.col-sm-offset-1 {
  margin-left: 8.33333333%;
}

.col-sm-5 {
  width: 41.66666667%;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
  float: left;
}
#owl-demo {
    display: block;
    width: 100%;
    height: auto;
}

@media(min-width: 768px) and (max-width: 991px){
  .carousel-text {
    position: absolute;
    margin-top: -220px;
    margin-right: -700px;
    text-decoration: rgb(255, 255, 255);
    scale: 0.9;
  }
  
  .under-carousel-text {
    margin-top: -150px;
    margin-left: 35px;
    text-decoration: rgb(255, 255, 255);
    scale: 0.5;
  }
  
  .kasko-carousel-text {
    position: absolute;
    margin-top: -250px;
    margin-left: -50px;
    text-decoration: rgb(255, 255, 255);
    scale: 0.8;
  }
  
  .kasko-under-carousel-text {
    margin-top: -150px;
    margin-left: -125px;
    text-decoration: rgb(255, 255, 255);
    scale: 0.5;
  }

  .postitusedSecond {
    margin-left: 30px;
    padding-top: 30px;
    display: flex;
  }

  .blog > h3 {
    scale: 0.8;
    margin-top: -30px;
  }

  .uudis > h3 {
    scale: 0.8;
    margin-top: -30px;
  }

  .podcast > h3 {
    scale: 0.8;
    margin-top: -40px;
  }

  .blogisuunavtext {
    scale: 0.8;
    margin-top: -10px;
    margin-left: -20px;
  }

  .blogDate {
    scale: 0.8;
    margin-top: -15px;
    margin-left: -25px;
  }

  .responsiveDate {
    margin-top: -25px;
  }

  .responsiveReadMore {
    scale: 0.8;
  }

  .responsivePodCast {
    margin-top: -25px;
  }

  .navbar {
    position: relative;
    float: none;
    height: 100px;
  }

  #navStyling {
    height: 45px;
  }

  .responsiveCorpNav {
    scale: 0.7;
    float: left;
  }

  .responsiveCorpNavLeft {
    margin-left: -50px;
  }

  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

}

@media(min-width: 992px) and (max-width: 1199px){
  .carousel-text {
    position: absolute;
    margin-top: -290px;
    margin-left: 100px;
    text-decoration: rgb(255, 255, 255);
    scale: 1.4;
  }
  
  .under-carousel-text {
    margin-top: -190px;
    margin-left: 18px;
    text-decoration: rgb(255, 255, 255);
    scale: 0.8;
  }
  
  .kasko-carousel-text {
    position: absolute;
    margin-top: -350px;
    margin-left: -10px;
    text-decoration: rgb(255, 255, 255);
    scale: 1.1;
  }
  
  .kasko-under-carousel-text {
    margin-top: -215px;
    margin-left: -80px;
    text-decoration: rgb(255, 255, 255);
    scale: 0.8;
  }

}

@media(min-width: 576px) and (max-width: 767px){
  .carousel-text {
    position: absolute;
    margin-top: -190px;
    margin-left: 45px;
    text-decoration: rgb(255, 255, 255);
    scale: 1;
  }
  
  .under-carousel-text {
    margin-top: -120px;
    margin-left: -10px;
    text-decoration: rgb(255, 255, 255);
    scale: 0.6;
  }
  
  .kasko-carousel-text {
    position: absolute;
    margin-top: -230px;
    margin-left: -65px;
    text-decoration: rgb(255, 255, 255);
    scale: 0.75;
  }
  
  .kasko-under-carousel-text {
    margin-top: -145px;
    margin-left: -110px;
    text-decoration: rgb(255, 255, 255);
    scale: 0.5;
  }
}