
.container-fluid {
  padding-left: 15px;
  padding-top: 15px;
}

#upper_navbar {
  padding-top: 20px;
  background-color: white;
}

#upper_nav_LHV_logo {
  float: left;
}

#footerSection {
  background-color: rgb(248, 248, 248);
}
#lhv_roheline {
  background-color: rgb(248, 240, 233);
}

#lhv_roheline_display {
  display:flex
}
#roheline_text {
  margin-top: 40px; margin-bottom: 0px; margin-right: 100px;
}
#aarisTop {
  padding: 30px
}
#roheline-picture {
  display: block;
}
#aarisBottom {
  padding: 30px;
}

.emptyDiv {
  background-color: rgb(249, 248, 247);
  margin-top: 30px;
  margin-bottom: 30px;
}
.postitusedFirst {
  background-color: rgb(249, 248, 247);
  margin-top: 30px;
  margin-bottom: 30px;
}
.postitusedSecond {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 30px;
  display: flex;
}
.blogiText {
  margin-right: 50px;
}
.blogiTextR {
  /*kui tekst on pildist paremal (vastasel juhul kasuta blogiText)*/
}
.blogiPicR {
  /*kui pilt on tekstist paremal*/
}
.blogiPicL {
  /*kui pilt on tekstist vasakul*/
  margin-right: 50px;
}
.blogiPicSub {
  max-height: 350px; max-width: 350px;
}

.ninetyPercentText {
  font-size: 90%;
}

.boldEightyPercentText {
  font-size: 80%; 
  font-weight: bold;
}

#usernameInput {
  margin-left: 15px;
  line-height: 10px;
  width: 180px;
}

#enterButton {
  margin-left: 10px;
  margin-top: -8px;
  line-height: 21px;
}

li.inactive_class a {
  color: #6e6e6e !important;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  position: relative;
  display: block;
}

.foreground-image {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -405px;
  margin-left: -1005px;
}

.carousel-indicators li {
  background-color: #ccc !important;
}
.carousel-indicators .active {
  background-color: #000 !important;
  position: relative;
  bottom: -50px;
}

.carousel-inner > .carousel-item > img {
  width: 100%;
  height: 100%;
}

.tenPxMarginRight {
  margin-right: 10px;
}

#headerStyling {
  padding-left: 305px; 
  padding-bottom: 20px;
}

#navStyling {
  background-color: #F4F4F4; 
  display: block;
}

.signInPadding {
  padding-left: 410px;
}

.fourHundredPxPaddingLeft {
  padding-left: 400px;
}