
.container-fluid {
  padding-left: 15px;
  padding-top: 15px;
}

#upper_navbar {
  padding-top: 20px;
  background-color: white;
}

#upper_nav_LHV_logo {
  float: left;
}

#footerSection {
  background-color: rgb(248, 248, 248);
}
#lhv_roheline {
  background-color: rgb(248, 240, 233);
}

#lhv_roheline_display {
  display:flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
#roheline_text {
  margin-top: 40px; margin-bottom: 0px; margin-right: 100px;
}
#aarisTop {
  padding: 30px
}
#roheline-picture {
  display: block;
}
#aarisBottom {
  padding: 30px;
}

.emptyDiv {
  background-color: rgb(249, 248, 247);
  margin-top: 30px;
  margin-bottom: 30px;
}
.postitusedFirst {
  background-color: rgb(249, 248, 247);
  margin-top: 30px;
  margin-bottom: 30px;
}
.postitusedSecond {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 30px;
  display: flex;
}
.blogiText {
  margin-right: 50px;
}
.blogiTextR {
  /*kui tekst on pildist paremal (vastasel juhul kasuta blogiText)*/
}
.blogiPicR {
  /*kui pilt on tekstist paremal*/
}
.blogiPicL {
  /*kui pilt on tekstist vasakul*/
  margin-right: 50px;
}
.blogiPicSub {
  max-height: 350px; max-width: 350px;
}

.ninetyPercentText {
  font-size: 90%;
}

.boldEightyPercentText {
  font-size: 80%;
  font-weight: bold;
}

#usernameInput {
  margin-left: 15px;
  line-height: 10px;
  width: 180px;
}

#enterButton {
  margin-left: 10px;
  margin-top: -8px;
  line-height: 21px;
}

li.inactive_class a {
  color: #6e6e6e !important;
}

.centerAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

#footerInfo {
  margin-top: 20px; color: #B2B2B2; font-family: arial; font-size: 13px;
}

.justifyText {
  text-align: justify;
}

.container {
  max-width: 1000px;
}

.blog {
  background-color: rgb(248,248,248);
  margin: 20px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.uudis {
  margin: 20px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.podcast {
  margin: 20px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.blogi_sisu {
  display: flex;
  color: black;
}

.blogiLogo {
  height: 24px;
  width: 24px;
  margin-right: 10px;

}

.blogisuunavtext {
  max-width: 254px;
}

.blogDate {
  padding-left: 34px;
  font-size: 14px;
  color: rgb(148,144,150);
}

.blogiSisuWrap {
  height: 135px;

.centeringStyle {
  display: flex;
  align-items: center;
  justify-content: center;

}

.background-image {
  position: relative;
  display: block;
}

.foreground-image {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-top: -405px;
  margin-left: -1005px;
}

.carousel-indicators li {
  background-color: #ccc !important;
}

.carousel-indicators .active {
  background-color: rgb(90, 90, 90) !important;
  position: relative;
  opacity: 0.7;
}

.carousel-button {
  width: 50px;
  opacity: 0.7;
  height: 10px;
  margin-right: 10px;
}

.tenPxMarginRight {
  margin-right: 10px;
}

#headerStyling {
  padding-left: 305px;
  padding-bottom: 20px;
}

#navStyling {
  background-color: #F4F4F4;
  display: block;
}

.signInPadding {
  padding-left: 410px;
}

.fourHundredPxPaddingLeft {
  padding-left: 400px;
}

.carousel-inner {
  height: 500px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  height: -500px;
  margin-top: -150px;
  width: 100%;
}

.carousel-text {
  position: absolute;
  margin-top: -420px;
  margin-right: 1400px;
  text-decoration: rgb(255, 255, 255);
  scale: 1.5;
}

.under-carousel-text {
  margin-top: -310px;
  margin-right: 500px;
  text-decoration: rgb(255, 255, 255);
  scale: 0.8;
}

.kasko-carousel-text {
  position: absolute;
  margin-top: -530px;
  margin-right: 1400px;
  text-decoration: rgb(255, 255, 255);
  scale: 1.5;
}

.kasko-under-carousel-text {
  margin-top: -320px;
  margin-right: 500px;
  text-decoration: rgb(255, 255, 255);
  scale: 0.8;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  white-space: nowrap;
}

.col-sm-offset-1 {
  margin-left: 8.33333333%;
}

.col-sm-5 {
  width: 41.66666667%;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
  float: left;
}
